body{
    background-image: url(https://images.pexels.com/photos/4596103/pexels-photo-4596103.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#text{
    text-align: center;
    padding: 250px;

    
     
    


}